.cardCont {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 2px #b1b1b1;
  padding: 10px;
  margin-bottom: 10%;
}

/* .cardCont:hover{
  transform: scale(1.1);
} */

.cardTitle {
  color: #707070;
  font-weight: 300;
  font-size: 120%;
  margin-bottom: 0px;
}

.imgCont {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  margin-bottom: 8%;
}

.planImg {
  height: 110px;
  width: 110px;
  margin-right: 0.6em;
  border-radius: 5px;
}
