 .container {
  background-color: white;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  padding: 4rem;
}

.reviews {
  display: flex;
  flex-direction: column;
  padding: 0px 1rem;
  width: 75%;
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
} 

@media (min-width: 600px) and (max-width: 959.95px) {
  .reviews{
    width: 100%;
  }

  .container {
    padding: 4rem 0 4rem 0;
  }

}

@media (max-width: 600px) {
  .container{
    padding: 0;
    /* width: 300px; */
  }
  .reviews{
    width: 100%;
    padding: 0;
  }
}