/* .container {
  display: flex;
  flex-direction: column;
}

.title {
  color: #707070;
  font-weight: 400;
  font-size: 130%;
  margin-bottom: 0px;
}

.reviewHeader {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0px 1% -10px 1%;
}

.headerTitle {
  color: #707070;
  font-weight: 300;
}

.headerContent {
  color: #707070;
  font-weight: 600;
}

.reviewContent {
  color: #707070;
  font-weight: 400;
  margin: 1% 1% 0px 1%;
} */
