.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardCont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 3%;
}

@media (max-width: 600px) {
  .container{
    /* width: 300px; */

  }

  .cardCont {
    flex-flow: column wrap;
  }

}

