.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 2px;
  padding: 2em;
  background-color: white;
  background-size: cover;
  width: 100%;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.imgCont {
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.name {
  color: #707070;
  font-size: 140%;
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.5em;
  border-radius: 5px;
}

.nacionality {
  color: #707070;
  font-size: 100%;
  font-weight: 600;
  margin-bottom: 10px;
  border-radius: 5px;
}

.profileInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 4% 0px 2% 0px;
}

.infoCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoTitle {
  color: #707070;
  font-size: 110%;
  font-weight: 600;
  margin-bottom: 10px;
  border-radius: 5px;
}

.infoCount {
  color: #707070;
  font-size: 130%;
  font-weight: 600;
  padding: 6px;
  border-radius: 10px;
}

.editBtn {
  display: inline-block;
  align-items: center;
  margin-left: 1200px;
  border: 2px solid #f1e100;
  padding: 0.5em 1em;
  background-color: #f1e100;
  color: #707070;
  font-weight: 500;
  font-size: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}

.pRole{
  display: inline-block;
  align-items: center;
  margin-right: 1200px;
  border: 2px solid #f1e100;
  padding: 0.5em 1em;
  background-color: #f1e100;
  color: #707070;
  font-weight: 500;
  font-size: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

.editBtn:hover {
  color: white;
  background-color: #707070;
  border: 2px solid #707070;
}

.addBtn {
  display: inline-block;
  align-items: center;
  border: 2px solid #f22176;
  padding: 0.5em;
  background-color: #f22176;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 85em;
  font-weight: 500;
  font-size: 100%;
  overflow: hidden;
  position: relative;
}

.addBtn:hover {
  color: #707070;
  background-color: white;
}
