.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 2px;
  padding: 2em;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.imgCont {
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.name {
  color: black;
  font-size: 110%;
  font-weight: 600;
  margin-bottom: 10px;
  border-radius: 5px;
}

.nacionality {
  color: black;
  font-size: 110%;
  font-weight: 600;
  margin-bottom: 10px;
  border-radius: 5px;
}

.profileInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 4% 0px 2% 0px;
}

.infoCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoTitle {
  color: black;
  font-size: 110%;
  font-weight: 600;
  margin-bottom: 10px;
  border-radius: 5px;
}

.infoCount {
  color: black;
  font-size: 130%;
  font-weight: 600;
  padding: 6px;
  border-radius: 10px;
}

.editarPerfil {
  display: inline-block;
  align-items: center;
  margin-left: 1200px;
  border: 3px solid #dfb112;
  padding: 10px;
  background-color: #212121;
  color: white;
  font-weight: bold;
  font-size: 13px;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}

.editarPerfil:hover {
  cursor: pointer;
}

.editarPerfil::before {
  -webkit-transform: translateY(-100%) translateX(-100%);
  -ms-transform: translateY(-100%) translateX(-100%);
  transform: translateY(-100%) translateX(-100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #dfb112;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.editarPerfil:hover::before {
  -webkit-transform: translateY(0) translateX(0);
  -ms-transform: translateY(0) translateX(0);
  transform: translateY(0) translateX(0);
}

.editarPerfil:hover::after {
  -webkit-transform: translateY(100%) translateX(100%);
  -ms-transform: translateY(100%) translateX(100%);
  transform: translateY(100%) translateX(100%);
}
