.container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  width: 40em;
}

.reviewCont {
  display: flex;
  flex-direction: row;
  width: 120%;
}

.reviewImg {
  width: 50%;
}

.img {
  width: 19em;
  height: 10em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.reviewInfo {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 1em;
}

.title {
  color: #707070;
  font-size: 120%;
  font-weight: 500;
  margin: 0em;
}

.review {
  color: #707070;
  font-size: 100%;
  font-weight: 300;
}

.score {
  color: #707070;
  font-size: 110%;
  font-weight: 400;
  margin: 0px;
}
