.container {
  display: flex;
  flex-direction: column;
}

.reviewCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  padding: 20px 30px;
  width: 98%;
}

.reviewCont:hover {
  border-radius: 3em;
  background-color: #f1e100;
}

.userImg {
  margin-top: 3em;
  width: 12em;
  height: 12em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.userCont {
  display: flex;
  flex-direction: column;
  margin: 0px 3%;
  width: 100%;
}

.nameDate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.name {
  color: #707070;
  font-size: 120%;
  font-weight: 300;
  margin-bottom: 0px;
}

.date {
  color: #707070;
  font-size: 90%;
  font-weight: 300;
}

.review {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}

.reviewImg {
  width: 20em;
  height: 10em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1em;
  margin-right: 2em;
}

.reviewInfo {
  width: 20em;
  display: flex;
  flex-direction: column;
}

.infoName {
  color: #707070;
  font-size: 110%;
  font-weight: 500;
}

.infoDescription {
  color: #707070;
  font-size: 100%;
  font-weight: 300;
}

.infoValoration {
  color: #707070;
  font-size: 90%;
  font-weight: 300;
}

.infoValNum {
  color: #707070;
  font-size: 110%;
  font-weight: 600;
}
