.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.reviewCont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin-bottom: 3%;
}

.userImg {
  margin-top: 3em;
  width: 10em;
  height: 10em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  /* box-shadow: 3px 3px 5px 2px #b1b1b1; */
}

.userCont {
  display: flex;
  flex-direction: column;
  margin: 0px 2em;
  width: 80%;
}

.nameDate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.name {
  color: #707070;
  font-size: 120%;
  font-weight: 300;
  margin-bottom: 0px;
}

.date {
  color: #707070;
  font-size: 90%;
  font-weight: 300;
}

.review {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
}

.reviewImg {
  width: 20%;
  height: 8em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1em;
  margin-right: 2em;
}

.reviewInfo {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.infoName {
  color: #707070;
  font-size: 110%;
  font-weight: 500;
}

.infoDescription {
  color: #707070;
  font-size: 100%;
  font-weight: 300;
}

.infoValoration {
  color: #707070;
  font-size: 90%;
  font-weight: 300;
}

.infoValNum {
  color: #707070;
  font-size: 110%;
  font-weight: 600;
}
