.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20em;
}
.confContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 4em;
  margin-left: 50em;
  width: 10em;
  height: 0em;
}
.title {
  color: #030303;
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 0em;
}
