
.chatContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.perfileImage{
  width: 4.5em;
  height: 4.5em;
  border-radius: 40em;
  margin: 1em;
}

.textContainer {
  display: flex;
  flex-direction: column;
}