.landing {
  background-image: url("../../assets/voyHENRY_landingBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.logo {
  position: absolute;
  height: 4em;
  margin-top: 5%;
  margin-left: 7%;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formTitle {
  color: #585858;
  font-size: 150%;
  margin-bottom: 8%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  padding: 2%;
  width: 45em;
}

.formSubCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40em;
}

.formInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30em;
}

.inputTitle {
  color: #707070;
  font-weight: 300;
  font-size: 100%;
}

.btnSignup {
  background-color: #f1e100;
  border: 2px solid #f1e100;
  padding: 1em;
  color: #707070;
  border: 0px;
  border-radius: 10px;
  transition: background-color 0.5s;
  margin-top: 3em;
  margin-bottom: 1em;
  width: 14em;
  cursor: pointer;
}

.googleCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.googleLogo {
  height: 20px;
}

.btnGoogle {
  background-color: #f13000;
  border: 2px solid #f13000;
  padding: 1em;
  color: #ffffff;
  font-size: 100%;
  border: 0px;
  border-radius: 10px;
  transition: background-color 0.5s;
  margin: 1em;
  width: 14em;
  cursor: pointer;
}

.btnVolver {
  background-color: rgb(219, 219, 219);
  width: 8em;
  padding: 0.5em;
  color: #707070;
  border: 0px;
  border-radius: 10px;
  transition: background-color 0.5s;
  margin: 1em;
  cursor: pointer;
}

.btnSignup:hover {
  background-color: #707070;
  color: white;
}

.btnGoogle:hover {
  background-color: #ac0000ec;
}

.btnVolver:hover {
  background-color: #f1e100;
}
