.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.textArea {
  font-family: monospace;
  outline: none;
  border: 1px solid #dadada;
  border-radius: 5px;
  background-color: #020203;
  transition: 0.7s;
  color: #f1e100;
  width: 20em;
  height: 10em;
  margin: 0.5em;
}

.textArea::placeholder {
  color: #f1e100;
}

.textArea:focus {
  border: 1px solid #f1e100;
  box-shadow: 0 0 0 5px #f1e100;
}
