.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #000000;
  background-image: url("../../assets/voyHENRY_title\(white\).png");
}
.containerForm {
}
.editContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 9px 2px #222222;
  border-radius: 1em;
  height: 100vh;
  width: 60em;
  margin: 5em;
  background-color: white;
}
.form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.title {
  display: flex;
  color: #030303;
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 0em;
}
.buttonContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5em;
  margin: 0.5em;
  appearance: none;
  background-color: #f1e100;
  border: 0.125em solid #1a1a1a;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.buttons:disabled {
  pointer-events: none;
}

.buttons:hover {
  color: #f1e100;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.buttons:active {
  box-shadow: none;
  transform: translateY(0);
}
