.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.textArea {
  outline: none;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  background-color: white;
  transition: 0.3s;
  color: #f1e100;
  width: 20em;
  height: 10em;
  padding: 0.5em;
}

.textArea::placeholder {
  color: #b1b1b1;
}

.textArea:focus {
  border: 0.5px solid #f1e100;
  box-shadow: 0 0 0 2px #f1e100;
}
