.container {
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/fondo-about-01.png");
  background-repeat: no-repeat;
  height: 100%;
}

.DescriptionOfProyect {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 390px 15% 50px 15%;
}

.DescriptionOfProyect:hover {
  transform: scale(1.2);
  transition-delay: 1s;
  transition-duration: 1.3s;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0px 150px 0px 15%;
}

.cards {
  background-color: rgba(90, 1, 207, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
