.mainContainer {
  border-radius: 5px;

  padding: 2%;
  margin: 2% 0px 0px 0px;
}

.itemCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.img {
  width: 200px;
  height: 200px;

  border-radius: 5px;
  margin-right: 1%;
}

.infoCont {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  color: #000000;
  font-size: 120%;
  font-weight: 500;
  margin-bottom: 0px;
}

.unitPrice {
  color: #000000;
  font-size: 100%;
  font-weight: 300;
  margin-bottom: 0px;
}

.totalPrice {
  color: #000000;
  font-size: 110%;
  font-weight: 500;
}

.quantity {
  margin-top: 10%;
}

.btnsCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.quantityBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.quantityNum {
  color: #707070;
  font-size: 100%;
  font-weight: 500;
  margin: 1% 30%;
}

.decIncBtns {
  border-radius: 50%;
  background-color: white;
  border: 1px solid #f1e100;
}

.decIncBtns:hover {
  background-color: #f1e100;
}

.deleteBtn {
  background-color: #f22176;
  border: 2px solid #f22176;
  border-radius: 10px;
  color: white;
  /* width: 150px; */
  padding: 1% 3%;
}

.deleteBtn:hover {
  background-color: white;
  color: #707070;
}

@media (max-width: 600px) {

}