.chartsContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.barchartContainer {
    width: 55vw;
    align-self: flex-end;
    margin-bottom: 7.5rem;
    margin-left: 2rem;
}

.doughtnutContainer {
    width: 55vh;
    align-self: flex-start;
    margin-top: 3rem;
    margin-right: 2rem;
}
