.container {
    display: flex;
    flex-direction: column;
}

.postComment {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5em;
}

.imgComment {
    height: 60px;
    border-radius: 50%;
    margin: 0px 1em;
}

.inputComment {
    width: 100%;
    padding: 0.3em;
    color: #b1b1b1;
}

.submitBtn {
    background-color: #f1e100;
    border: 2px solid #f1e100;
    border-radius: 5px;
    width: 15%;
    padding: 0.5% 1%;
    margin-bottom: 1em;
    align-self: flex-end;
}

.getComment {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    box-shadow: 3px 3px 5px 2px #b1b1b1;
    border-radius: 10px;
    padding: 0.8em;
}

.commentInfo {
    color: #707070;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0px;
    width: 100%;
}

.infoCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: -10px;
    color: #707070;
    font-size: 110%;
}

.infoName {
    font-weight: 600;
}

.buttons {
    border-radius: 5px;
    align-self: flex-end;
}

.editBtn {
    background-color: #f1e100;
    border: 2px solid #f1e100;
    border-radius: 5px;
    color: #707070;
    margin: 0px 1em;
    padding: 0.3em 0.4em;
  }
  
  .editBtn:hover {
    background-color: #707070;
    border: 2px solid #707070;
    color: white;
  }

  .editCont {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    width: 100%;
  }

  .editInput {
    border-radius: 5px;
    color: #b1b1b1;
    padding: 0.3em;
  }

  .deleteBtn {
    background-color: #f22176;
    border: 2px solid #f22176;
    border-radius: 5px;
    color: white;
    margin: 0px 1em;
    padding: 0.3em 0.4em;
  }
  
  .deleteBtn:hover {
    background-color: #707070;
    border: 2px solid #707070;
    color: white;
  }
  
  .saveBtn {
    background-color: #f1e100;
    border: 2px solid #f1e100;
    border-radius: 5px;
    color: #707070;
    margin: 0.5em 1em;
    padding: 0.3em 0.4em;
    align-self: flex-end;
  }
  
  .saveBtn:hover {
    background-color: #707070;
    border: 2px solid #707070;
    color: white;
  }