.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(252, 252, 252);
  width: 100%;
}
.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.imgCont {
  display: flex;
  width: 70%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px 15% 50px 15%;
  padding: 5%;
}
.galeria {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
}
.name {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.img {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 200px;
  background-color: rgba(218, 233, 5, 0);
  margin: 10px;
  border-radius: 10px;
}

.submitBtn {
  appearance: none;
  background-color: #f1e100;
  border: 0.125em solid #1a1a1a;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;

  width: 20%;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
  outline: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.submitBtn:disabled {
  pointer-events: none;
}

.submitBtn:hover {
  color: #f1e100;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.submitBtn:active {
  box-shadow: none;
  transform: translateY(0);
}
.closeBtn {
  background-color: white;
  border: 2px solid #f1e100;
  border-radius: 10px;
  padding: 1% 2%;
  color: #707070;
  width: 200px;
}

.closeBtn:hover {
  background-color: #707070;
  border: 2px solid #707070;
  color: white;
}
.AgregarBtn {
  background-color: #f22176;
  border: 2px solid #f22176;
  border-radius: 10px;
  color: white;
  padding: 2% 4%;
  width: 200px;
  margin: 0px 7%;
}

.AgregarBtn:hover {
  background-color: white;
  color: #707070;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  margin-top: 2%;
  justify-content: space-between;
  margin-bottom: 2%;
}

.button {
  display: flex;
  flex-direction: row;
}

.buttonCommentDiv {
  display: flex;
  flex-direction: row-reverse;
}

.comments {
  width: 50em;
}

.comment {
  display: flex;
  flex-direction: row;
}

.imgComment {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
