.container {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 2px #b1b1b1;
  padding: 5%;
  margin: 5% 0px;
}

.container:hover {
  transform: scale(1.1);
}

.imgCont {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.infoCont {
  width: 100%;
  color: #707070;
  margin-left: 4%;
}

.name {
  font-size: 120%;
  font-weight: 600;
  margin-bottom: 0px;
}

.nacionality {
  font-size: 100%;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 5%;
}

.followInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.followTitle {
  font-size: 100%;
  font-weight: 300;
  margin-bottom: 0px;
}

.followCount {
  font-size: 100%;
  font-weight: 600;
}
