.profileCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 2px #b1b1b1;
  margin: 20px;
  padding: 5px;
}

.subCont {
  display: flex;
  flex-direction: row;
}

.imgCont {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45em;
  margin-left: 10px;
}

.profileInfo_flex{
  display: flex;
  justify-content: space-between;
}

.name {
  color: #707070;
  font-size: 150%;
  font-weight: 600;
  margin-bottom: 0px;
}

.nameRole{
  color: #707070;
  font-size: 120%;
  font-weight: 600;
}

.nacionality {
  color: #707070;
  font-size: 100%;
  font-weight: 600;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.followers {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  margin-top: 30px;
}

.followTitle {
  color: #707070;
  font-weight: 300;
  margin-right: 40px;
}

.followNum {
  color: #707070;
  font-weight: 700;
  margin-right: 60px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonUnfollow {
  background-color: #f22176;
  border: 2px solid #f22176;
  border-radius: 10px;
  color: white;
  padding: 0.5em 1em;
  margin: 10px 0px;
  width: 10em;
  cursor: pointer;
}

.buttonUnfollow:hover {
  background-color: white;
  color: #707070;
}

.buttonPerfil {
  background-color: #f1e100;
  border: 2px solid #f1e100;
  border-radius: 10px;
  color: #707070;
  padding: 0.5em 1em;
  margin: 10px 15px;
  width: 10em;
  cursor: pointer;
}

.buttonPerfil:hover {
  background-color: white;
}

@media (min-width: 600px) and (max-width: 959.95px) {
  .profileCont{
    width: 50em;
  }
  .profileInfo{
    width: 100%;
  }
}

@media (max-width: 600px) {
  .subCont {
    width: 200px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .imgCont {
    margin-top: 15px;
    width: 100px;
    height: 100px;
  }
  .img {
    width: 100px;
    height: 100px;
  }
  .profileInfo{
    width: 150px;
    margin: 0;
    padding: 0;
  }
  .profileCont{
    flex-direction: column;
    height: 300px;
  }
}