.buttons {
  background-color: #f1e100;
  border: 2px solid #f1e100;
  width: 150px;
  padding: 3%;
  color: #707070;
  border: 0px;
  border-radius: 10px;
  transition: background-color 0.5s;
  margin: 3%;
}

.buttons:hover {
  background-color: #707070;
  color: white;
}
