.button {
  background-color: #f1e100;
  border: 2px solid #f1e100;

  color: #020202;
  border: 0px;
  border-radius: 10px;
  font-weight: 300;
  font-size: 100%;
  width: 8em;
  padding: 0.3em;
}

.button:hover {
  background-color: #707070;
  color: white;
}
