.container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  border-radius: 5px;
  /* justify-content: center; */
  /* box-shadow: 3px 3px 5px 2px #b1b1b1; */
  width: 60em;
  margin-bottom: 1em;
}
