.container {
  display: flex;
  flex-direction: grid;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  box-shadow: 3px 3px 5px 2px #222222;
  width: 70m;
  margin: 4em;
  padding: 4em;
  height: 12rem;
}

.container:hover {
  background-color: #a0a0a070;
}

/* .name {
  color: #f00505;
  font-weight: 600;
} */
