.container {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 2em;
  width: 100%;
}

.name {
  color: #707070;
  font-size: 110%;
  font-weight: 300;
  margin-bottom: 5px;
}

.input {
  border: 1px solid #f1e100;
  border-radius: 5px;
  color: #707070;
  background-color: white;
  height: 30px;
  padding: 5px;
}

.filterTitle {
  color: #707070;
  font-weight: 300;
  font-size: 110%;
  margin-bottom: 0px;
}

.buttons {
  background-color: white;
  border: 0px;
  cursor: pointer;
  color: #707070;
  text-align: left;
  margin-bottom: 0.5em;
}

.buttons:disabled {
  pointer-events: none;
}

.buttons:hover {
  font-size: 110%;
  color: #f1e100;
}