.container {
  display: flex;
  flex-direction: column;
  margin: 0px 2em;
  width: 20%;
}

.name {
  color: #707070;
  font-size: 110%;
  font-weight: 300;
  margin-bottom: 5px;
}

.input {
  border: 1px solid #f1e100;
  border-radius: 5px;
  color: #707070;
  background-color: white;
  height: 30px;
  padding: 5px;
}
