.container {
  display: flex;
  flex-direction: column;

  margin: 6em;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0px 2em;
}

.name {
  color: #707070;
  font-size: 110%;
  font-weight: 300;
  margin-bottom: 5px;
}

.input {
  border: 1px solid #f1e100;

  color: black;
  color: #707070;
  background-color: white;
  height: 30px;
  padding: 5px;

}
