.container {
  background-color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  width: 100%;
  min-height: 100vh;
}

.detailCont {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.profile {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.imgProfile {
  border-radius: 50%;
  margin-right: 2em;
}

.review {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nameCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: -20px;
}

.reviewCont {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.reviewInfo {
  display: flex;
  flex-direction: column;
}

.name {
  color: #707070;
  font-weight: 500;
  font-size: 140%;
}

.date {
  color: #707070;
  font-weight: 300;
  font-size: 100%;
}

.imgCont {
  margin-bottom: 1em;
}

.img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  margin-right: 2em;
}

.title {
  color: #707070;
  font-weight: 500;
  font-size: 150%;
  margin-bottom: 0px;
}

.blogContent {
  color: #707070;
  font-weight: 300;
  font-size: 110%;
  margin-top: 1em;
}

.commentsCont {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  margin-left: 5em;
  width: 95%;
}

.commentsTitle {
  color: #707070;
  font-size: 110%;
  font-weight: 500;
}

.input {
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  padding: 0.4em;
  margin: 0.5em 0px;
}

.input::placeholder {
  color: #b1b1b1;
}

.buttonsCont {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

.editBtn {
  align-self: center;
  background-color: #f1e100;
  border: 2px solid #f1e100;
  border-radius: 10px;
  padding: 0.5% 2%;
  color: #707070;
  width: 10%;
  cursor: pointer;
  margin-right: 2em;
}

.editBtn:hover {
  background-color: white;
  color: #707070;
}

.deleteBtn {
  align-self: center;
  background-color: #f22176;
  border: 2px solid #f22176;
  border-radius: 10px;
  padding: 0.5% 2%;
  color: white;
  width: 15%;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: white;
  color: #707070;
}

.backBtn {
  align-self: center;
  background-color: white;
  border: 2px solid #f1e100;
  border-radius: 10px;
  padding: 0.5% 2%;
  color: #707070;
  width: 10%;
  margin-top: 5em;
  cursor: pointer;
}

.backBtn:hover {
  background-color: #707070;
  border: 2px solid #707070;
  color: white;
}

.inputTitle {
  font-size: 150%;
}

.inputBlog {
  font-size: 150%;
}

.textareaBlog {
  font-size: 150%;
  resize: none
}