.cardCont {
  border-radius: 30px;
  box-shadow: 3px 3px 5px 2px #222222;
  margin: 2% 0px;
  width: 31%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cardCont:hover .card {
  /* transform: scale(1.05); */
  transition: all 0.5s ease 0.2s;
  visibility: visible;
}

.card {
  background-color: black;
  border-radius: 30px;
  opacity: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0px 5%;
  visibility: hidden;
}

.details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.title {
  color: white;
  font-weight: 400;
  font-size: 110%;
  margin-bottom: 0px;
}

.info {
  color: white;
  font-weight: 400;
  font-size: 80%;
  margin-bottom: 0px;
}

.summary {
  color: white;
  text-align: left;
  margin: 5% 0px 0px 0px;
}

.img {
  display: flex;
  width: 100%;
  height: 150px;
}

.detailBtn {
  background: none;
  border: 0px;
  color: white;
  font-weight: 300;
  font-size: 110%;
  cursor: pointer;
}

.detailBtn:hover {
  color: #F1E100;
}
