.filters {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 2px #222222;
  width: 20%;
  height: 100%;
  padding: 1%;
  background-color: white;
}

.filters:hover {
  background-color: #a0a0a070;
}

.title {
  color: #000000;
  font-weight: 600;
  font-size: 110%;
  margin-bottom: 0px;
}

.option {
  color: #000000;
  font-weight: 300;
  font-size: 90%;
  cursor: pointer;
}

.option:hover {
  color: #f1e100;
}
