.container {
  background-color: white;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4rem;
  width: 100%;
  min-height: 100vh;
}

.marketCont {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cardsCont {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  color: #707070;
  justify-content: center;
}

.buttonAdmin {
  font-size: 120%;
  margin-top: 1.5em;
  border-radius: 10px;
  border: 2px solid #f1e100;
  background-color: #f1e100;
  color: #707070;
  padding: 0.5em 1em;
  cursor: pointer;
}

.buttonAdmin:hover{
  background-color: white;
}
