.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.itemCont {
  width: 70%;
}

.description {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 1%;
}

.descriptionTitle {
  color: #707070;
  font-size: 120%;
  font-weight: 300;
  margin-bottom: 0px;
}

.btnCont {
  align-self: flex-end;
  margin-top: 10%;
}

.backBtn {
  color: #707070;
  background-color: white;
  border: 2px solid #f1e100;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.backBtn:hover {
  color: white;
  background-color: #707070;
  border: 2px solid #707070;
}
