.container {
    margin: 5% 0px;
}

.stock {
    color: #707070;
    font-size: 90%;
    font-weight: 300;
    margin-bottom: 0px;
}

.title {
    color: #707070;
    font-size: 140%;
    font-weight: 600;
    margin-top: 1%;
}

.price {
    color: #707070;
    font-size: 120%;
    font-weight: 400;
}