.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4rem;
}

.planForm {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 18%; */
}

.plans {
  margin: 0px 2%;
  width: 60%;
}

.sections {
  width: 22%;
}
