.container {
  background-color: white;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4rem;
  width: 100%;
  min-height: 100vh;
}

.planForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18%;
}

.plans {
  display: flex;
  flex-direction: column;
  padding: 0px 3rem;
  width: 60%;
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
}
