.container_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-right: 3em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 3px 3px 5px 2px #222222;
  border-radius: 25px;
  padding: 10%;
  width: 40rem;
}

.title {
  color: #707070;
  font-size: 130%;
  font-weight: 600;
  margin-bottom: 0px;
  color: black;
}

.formSubCont {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
}

.formTitle {
  color: #707070;
  font-size: 16px;
  font-weight: 600;
  color: black;
}

.formInputs {
  color: #707070;
  font-size: 80%;
  font-weight: 600;
  color: black;
  border-radius: 5px;
}

.createBtn {
  appearance: none;
  background-color: #f1e100;
  border: 0.125em solid #1a1a1a;
  border-radius: 0.9375em;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 3.75em;
  min-width: 0;
  outline: none;
  padding: 1em 2.3em;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.createBtn:disabled {
  pointer-events: none;
}

.createBtn:hover {
  color: #f1e100;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.createBtn:active {
  box-shadow: none;
  transform: translateY(0);
}

.createBtn:hover {
  background-color: rgb(0, 0, 0);
}

.backBtn {
  color: #707070;
  background-color: white;
  border: 2px solid #f1e100;
  border-radius: 10px;
  padding: 0.5% 2%;
  margin-top: 3%;
}

.backBtn:hover {
  color: white;
  background-color: #000000;
  border: 2px solid #f1e100;
}

.imageForm {
  border-radius: 2em;
}
