.searchCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.searchInput {
  font-family: monospace;
  max-width: 190px;
  outline: none;
  border: 1px solid #dadada;
  padding: 5px;
  border-radius: 5px;
  background-color: #020203;
  transition: 0.7s;
  color: #f1e100;
  font-display: swap;
}

.searchInput::placeholder {
  color: #f1e100;
}

.searchInput:focus {
  border: 1px solid #f1e100;
  box-shadow: 0 0 0 5px #f1e100;
}

.searchBtn {
  background-color: #f1e100;
  color: #000000;
  border: 2px solid #f1e100;
  border-radius: 3px;
  padding: 5px;
}

.searchBtn:hover {
  background-color: #000000;
  color: #f1e100;
  border: 2px solid #000000;
  border-radius: 3px;
}
