.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 0px 9px 2px #222222;
  padding: 10px 30px;
  width: 100%;
}

.img {
  height: 3em;
  margin: 0.2em;
}

.linksCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50em;
}

.linkFont {
  color: #b1b1b1;
  font-weight: 300;
  text-decoration: none;
}

.linkFont:hover {
  color: #f1e100;
  font-weight: 300;
  text-decoration: none;
}

.linkFontActive {
  color: black;
  font-weight: 300;
  text-decoration: none;
}
