.searchCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searchInput {
  border: 2px solid #707070;
  border-radius: 3px;
}

.searchBtn {
  background-color: #707070;
  color: white;
  border: 2px solid #707070;
  border-radius: 3px;
}

.searchBtn:hover {
  background-color: #f1e100;
  color: #707070;
  border: 2px solid #f1e100;
  border-radius: 3px;
}
